<div ng-controller="MapCtrl" ng-init="addMarkerFromAddress()">
    <div class="row-fluid">
        <div class="span12">
            {{center}}
            <label>Address</label>
            <!--<input type="text" ng-model="address" class="input-xxlarge input-height-large"-->
                   <!--placeholder="Type your business address...">-->
            <map id="map_canvas" style="height: 452px; margin-bottom: 20px;"></map>

            <button class="btn btn-primary btn-large pull-right" style="margin-bottom: inherit"
                    ng-click="setBusinessLocation()">Save
            </button>
        </div>
    </div>
</div>